<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: left;
            bottom: 0px;
            width: 100%;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]- Rent A Toyota</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-white text-white  box-shadow mb-3">
            <div class="container">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Rent A Toyota - Home</a>
                <button class="navbar-toggler" text="white" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-white">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 text-white">

                        <li class="nav-item text-white">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Our Models</a>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Bookings" asp-action="Index">Go to booking</a>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Bookings" asp-action="ShowSearchForm">Search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container" id="bottom">
        <div class="footer">2020 - Rent A Toyota</div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
