@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<br />
<br />
<br />
<h1 class="display-4" align="center" style="color: tomato;" family="">Thank you for booking with<br />Rent A Toyota!</h1>

