@{
    ViewData["Title"] = "Our Models";
}
<head>
</head>
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 260px;
        }

            div.gallery:hover {
                border: 1px solid #777;
                opacity: 0.6;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
            font-size: 10px;
            position: static;
        }
    </style>
</head>
<body>
    <h2 class="display-4" style="color: tomato;" family="">Models</h2>

    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDyDMzoFh55LI_aE-0frvj29QCAYI1kWcfww&usqp=CAU" alt="Rav4" width="800" height="600">
        </a>
        <div class="desc">
            <b>Rav4</b><br />
            The Rav4 has been recently updated for the 2019
            model year with a brand new styling
            Prices start from: 50 $ per day.
        </div>
    </div>


    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-toyota-venza-lead-1596635926.jpg" alt="Venza" width="600" height="400">
        </a>
        <div class="desc">

            <b>Venza</b><br />
            This car model is beeing presented as a brand new model
            with a lots of new features as LED headlights.
            Prices start from 60 $ per day.
        </div>
    </div>


    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://s3.amazonaws.com/toyota-cms-media/wp-content/uploads/2019/09/20_Toyota_4Runner_TRD_Pro_01-1500x900.jpg" alt="4Runner" width="600" height="400">
        </a>
        <div class="desc">

            <b>4Runner</b><br />
            The 4Runner is the king of the road!

            Offroad or onroad this truck is unstoppable.


            Prices start from 70 $ per day.<br />
        </div>


    </div>
    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-toyota-trd-model-105-1594132097.jpg?crop=0.806xw:0.904xh;0.0978xw,0.0528xh&resize=640:*" alt="Tacoma" width="600" height="400">
        </a>

        <div class="desc">
            <b>Tacoma</b><br />
            This midsize truck from Toyota that is a hugely popular truck.


            Prices start from 75 $ per day.
        </div>
    </div>


    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://t1-cms-4.images.toyota-europe.com/toyotaone/sesv/Header_Cover_tcm-3016-1887120.jpg" alt="Yaris Cross" width="600" height="400">
        </a>
        <div class="desc">

            <b>Yaris Cross</b><br />
            Elegant small suv.

            Prices start from 50 $ per day.
        </div>


    </div>

    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://miro.medium.com/max/3840/1*TqEzjsBhIc2YpfbmHVuTbw.jpeg" alt="Camry" width="600" height="400">

        </a>
        <div class="desc">

            <b>Camry</b><br />
            This sleak sedan is really popular.

            Prices start from 55 $ per day.
        </div>
    </div>


    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://www.hdcarwallpapers.com/walls/2021_toyota_gr_supra_2_5k_3-HD.jpg" alt="Supra" width="600" height="400">

        </a>
        <div class="desc">

            <b>Supra</b><br />
            The super racecar.

            Prices start from 75 $ per day.
        </div>
    </div>


    <div class="gallery">
        <a asp-controller="Bookings" asp-action="Index">
            <img src="https://f.nordiskemedier.dk/22e2qd6ys07d8zub.jpg" alt="Mirai" width="600" height="400">

        </a>
        <div class="desc">

            <b>Mirai</b><br />
            This is the new hydrogen modell from Toyota.

            Prices start from 75 $ per day.
        </div>
    </div>

</body>
<br />
<br />
<br />

